*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html{
    background-color: darkslategray;
}

header{
    position: fixed;
    background-color: steelblue;
    align-self: center;
    border-radius: 10px;
    width:99%;
    color: snow;
    z-index: 1;
    text-indent: 10px;
}

ul {
    list-style: none;
    display: flex;
    align-items: inherit;
    justify-content: space-around;
    color: snow;
}

.nav li,
.socials{
    background-color: lightsteelblue;
    padding:5px;
    border-radius: 6px;
}

body{
    position: absolute;
    color:snow;
}

.about-me{
    position: relative;
    margin-top: 150px;
}

.my-projects{
    position: relative;
    margin-top:30px;
}

.contact-me{
    position: relative;
    margin-top:30px;
}

.socials li{
    color: darkslategray;
    display: flex;
}

input{
    border-radius: 10px;
}

footer{
    background-color: steelblue;
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: -15px;
    border-radius: 20px;
}